In [1]:
import pandas as pd

### Reading csv file

In [2]:
bison = pd.read_csv("C:/Users/Richmond/Desktop/Ananconda/BisonTracking.csv")

### Viewing first 7 rows

In [3]:
bison.head(7)

  Collection/Population Locality SpecimenNumber  Genus   Species  Length
0                  12 Mile Creek         112916  Bison  antiquus       8
1                  12 Mile Creek         112917  Bison  antiquus       7
2                  12 Mile Creek         112918  Bison  antiquus       7
3                  12 Mile Creek         112919  Bison  antiquus       8
4                  12 Mile Creek         112921  Bison  antiquus       9
5                  12 Mile Creek         112925  Bison  antiquus       9
6        Agate Basin-Agate Basin            458  Bison  antiquus       7

### Viewing bottom 10 rows

In [42]:
bison.tail(10)

,Collection/Population Locality,SpecimenNumber,Genus,Species,Length
1097,Simonsen,"SEC. 8, 30"", E2, #bb",Bison,antiquus,8
1098,Simonsen,SW15 #3,Bison,antiquus,8
1099,Simonsen,SW15 #3,Bison,antiquus,7
1100,Simonsen,SW37 #9,Bison,antiquus,9
1101,Simonsen,SW37 #9,Bison,antiquus,8
1102,Terapa,TERA 403,Bison,antiquus,7
1103,Terapa,TERA 404,Bison,antiquus,8
1104,Terapa,TERA 426,Bison,antiquus,9
1105,WICA,422F7A5179,Bison,bison,7
1106,WICA,AVID*074*597*636,Bison,bison,7

### Number of rows in Bison Tracking dataset

In [6]:
len(bison)

1107

### Number of columns in Bison Tracking dataset

In [8]:
len(bison.columns)

5

### Q1. How many bison are of the species antiquus?

##### ans: There are 633  bisons of the antiquus species

In [35]:
bison["Species"].value_counts()

antiquus        633
bison           435
occidentalis     39
Name: Species, dtype: int64

### Q2. What is the mean and standard deviation of Length?

#####  ans: Mean of lenght is 7.981030
##### ans: Standard deviation of Length is 0.808299

In [23]:
bison.Length.describe()

count    1107.000000
mean        7.981030
std         0.808299
min         7.000000
25%         7.000000
50%         8.000000
75%         9.000000
max         9.000000
Name: Length, dtype: float64

### Q3. What is the median length of the bison?

In [29]:
bison.Length.median()

8.0

### End